.row{
    width: 60%;
    height:600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(71, 117, 159);
    padding: 15px;
    grid-gap: 10px;
}
.child{
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row :nth-child(1){
    grid-column-start:1; 
    grid-column-end:5 ;
    background-color: rgb(121, 121, 234);
}
.row :nth-child(2){
    grid-row-start:2; 
    grid-row-end:4 ;
}
.row :nth-child(3){
    grid-column-start:2; 
    grid-column-end:5 ;
}
.row :nth-child(6){
    grid-column-start:1; 
    grid-column-end:5 ;
    background-color: rgb(121, 121, 234);
}
