.outer{
    width: 40%;
    height:400px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.img{
    width:50%;
    height: 100%;
    background-color:antiquewhite;
    float: left;
}
.con{
    width:50%;
    height: 100%;
    background-color:antiquewhite;
    float: left;
    position: relative;
}
.heading{
    text-align: center;
    width: 100%;
    height:20%;
    position: absolute;
    top: 0;
    text-size-adjust: 100%;
}
.heading h4{
    color: burlywood;
}
.writings{
    width: 90%;
    height: 35%;
    text-align: center;
    padding: auto;
    position: absolute;
    top: 35%;
    margin: auto;
}
.hh{
    width: 30%;
    height: 15%;
    text-align: center;
    position: absolute;
    left: 5%;
    bottom: 15%;
}
.button{
    width: 40%;
    height: 15%;
    text-align: center;
    position: absolute;
    left: 47%;
    bottom: 10%;
    
}
.button button{
    color:white;
    height: 65%;
    width: 95%;
    background-color: cornflowerblue;
    font-size: 70%;
    border: none;
    border-radius: 25px;
}


