.row{
    width: 60%;
    height:600px;
    border:1px solid black;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 1fr; 
    grid-gap: 5px;
    padding: 5px;  
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    border: lightgreen 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coli{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7px;
}
.li{
    border: lightgreen 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coli :nth-child(3){
    border: lightgreen 3px solid;
}