*{
    margin: 0;
}
.box{
    border: 2px solid black;
    background-color: burlywood;
    width: 150px;
    height:100px;
    padding:10px;
}
.box2{
    margin-top: 100px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
}
.box-3{
    margin-top: 150px;
    margin-left:auto;
}